[Desktop Entry]
Categories={{categories}}
Comment=Local-first Excalidraw desktop drawing app
Exec={{exec}} %F
Icon={{icon}}
MimeType=application/x-excalidraw;
Name={{name}}
Terminal=false
Type=Application
